@model AllBooksQueryModel


<div class="row" id="search">
    <form method="get" class="form-inline col-md-4 ">
        <input asp-for="SearchTerms" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">

    </form>
    <form method="get" class="form-inline col-md-4 ">
        <input asp-for="SearchTerms" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">

    </form>
    <form method="get" class="form-inline col-md-4 ">
        <input asp-for="SearchTerms" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">

    </form>
</div>

@foreach (var book in Model.Books)
{
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="@book.ImageUrl" alt="@book.Title - @book.Author">
        <div class="card-body">
            <h5 class="card-title">@book.Title - @book.Author</h5>
            <p class="card-text">@book.Publisher</p>
            <p class="card-text">@book.Description</p>
            <a asp-controller="Books" asp-action="Details" asp-route-id="@book.Id" class="btn btn-primary">Details</a>
        </div>
    </div>
}
