@model BookDetailsModel

@{
    ViewBag.Title = "Details of Book";
}

<div class="container">
    <div class="row">

        <div class="col-md-5">
            <img class="img-fluid" src="@Model.ImageUrl" alt="@Model.Title - @Model.Author.Name" style="max-height:900px; max-width:500px;">
        </div>

        <div class="col-md-7">
            <h1 class="my-3 "><strong>@Model.Title</strong></h1>
            <p>@Model.Description</p>
            <h4 class="my-3">Book Details</h4>
            <ul style="list-style-type:none; ">
                <li>Author: @Model.Author.Name</li>
                <li>Publisher: @Model.Publisher.Name</li>
                <li>Category: @Model.Category.Name</li>
            </ul>
            <h5 class="my-3">Price: @Model.Price</h5>
            @if (Model.IsByUser == true || User.IsAdmin())
            {
                <a asp-controller="Books" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info">Edit</a>
                <a asp-controller="Books" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
            }
            else if (true)
            {
                <a asp-controller="Books" asp-action="Buy" asp-route-id="@Model.Id" class="btn btn-success">Buy</a>
            }

        </div>

    </div>
</div>