@model List<BookIndexViewModel>
@{
    ViewData["Title"] = "Book Being";
}


<div class="card bg-light text-white box-shadow" id="header-index">
    <img class="card-img" src="/book.jpg" alt="Card-image">
    <div class="card-img-overlay">
        <div style="text-align:center; background-color:rgba(215, 214, 213, 0.39);">
            <h2 class="card-title" style="text-shadow: 0 0 0.15em #b8b8b8;  ">Welcome to our free space for giving or selling books.</h2>
            <p class="card-text" style="font-size:20px; text-shadow: 1px 1px 1px #9c9c9c;">Here you can give or sell the books you keep at home and you do not know what to do with them.</p>
        </div>

        @if (!Model.Any())
        {
            <div style="text-align:center; background-color:rgba(215, 214, 213, 0.39);">
                <p>At the moment we do not have registered books. Be the first to register.</p>
                <p class="lead">
                    <a asp-controller="Books" asp-action="Add" class="btn btn-light" role="button">Add Book</a>
                </p>
            </div>
        }
    </div>
</div>


<div class="container" style="position:center">
    @foreach (var book in Model)
    {
        <div class="card box-shadow row mx-md-4" style="width: 18rem; display:inline-block; height: 450px; overflow: hidden; margin:10px;">
            <img style="height:230px;" class="card-img-top" src="@book.ImageUrl" alt="@book.Title - @book.Author.Name">
            <div class="card-body">
                <h5 style="max-height:50px;overflow: hidden;" class="card-title">@book.Title - @book.Author.Name</h5>
                <p class="card-text">@book.Publisher.Name</p>
                <p class="card-text">Price: @book.Price</p>
                <a asp-controller="Books" asp-action="Details" asp-route-id="@book.Id" class="btn btn-primary">Details</a>
                @if (ViewBag.AllowBookEdit == true || User.IsAdmin())
                {
                    <a asp-controller="Books" asp-action="Edit" asp-route-id="@book.Id" class="btn btn-info">Edit</a>
                    <a asp-controller="Books" asp-action="Delete" asp-route-id="@book.Id" class="btn btn-danger">Delete</a>
                }

            </div>
        </div>
    }
</div>

