@model List<BookListingViewModel>
@{
    ViewData["Title"] = "Book Being";
}

<div class="card bg-light text-white box-shadow" id="header-index">
    <img class="card-img" src="/book.jpg" alt="Card image">
    <div class="card-img-overlay">
        <h5 class="card-title">Welcome to our free space for giving or selling books.</h5>
        <p class="card-text">Here you can give or sell the books you keep at home and you do not know what to do with them.</p>
        @if (!Model.Any())
        {
            <p>At the moment we do not have registered books. Be the first to register.</p>
            <p class="lead">
                <a asp-controller="Books" asp-action="Add" class="btn btn-light" role="button">Add Book</a>
            </p>
        }
    </div>
</div>

<div class="index-container">
    @foreach (var book in Model)
    {
        <div class="card box-shadow flex-md-row mb-4">
            <img class="card-img-top" src="@book.ImageUrl" alt="@book.Title - @book.Author">
            <div class="card-body">
                <h5 class="card-title">@book.Title - @book.Author.Name</h5>
                <p class="card-text">@book.Publisher.Name</p>
                <p class="card-text">Price: @book.Price</p>
                <a asp-controller="Books" asp-action="Details" asp-route-id="@book.Id" class="btn btn-primary">Details</a>
            </div>
        </div>
    }
</div>

<div class="col-md-4">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-primary">World</strong>
            <h3 class="mb-0">
                <a class="text-dark" href="#">Featured post</a>
            </h3>
            <div class="mb-1 text-muted">Nov 12</div>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <a href="#">Continue reading</a>
        </div>
    </div>
</div>

